<table class="table table-striped">
  <thead>
    <tr>
      <th>Display Name</th>
      <th>County</th>
      <th>Road</th>
      <th>Suberb</th>
      <th>City</th>
      <th>State</th>
      <th>Post Code</th>
      <th>Country</th>
      <th>Boundry Co-ordinates</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
  	<% @places.each do |place|	%>
	    <tr>
	      <td><%= place.display_name %></td>
	      <td><%= place.county %></td>
	      <td><%= place.road %></td>
	      <td><%= place.suburb %></td>
	      <td><%= place.city %></td>
	      <td><%= place.state %></td>
	      <td><%= place.postcode %></td>
	      <td><%= place.country %></td>
	      <td><%= place.boundingbox %></td>
	      <td><%= link_to "View On Map", place_path(place), class: "btn btn-primary" %></td>
	    </tr>
	  <% end %>
  </tbody>
</table>

